<h4>Página principal</h4>
<script src="socket.io/socket.io.js"></script>
<script src="js/home.js"></script>
<div>
    <h2>Bienvenido</h2>
    <p>Listado de Servicios:</p>
    <ul>
            {{#each Services}}
            <li>Servicio: {{this.title}}  - Descripción: {{this.description}}  - Código: {{this.code}}  - Precio: {{this.price}}  - Stock: {{this.stock}} - Categoría: {{this.category}} - Imágen: {{this.thumbnail}} - Id: {{this.id}}</li><br>
            {{/each}}
    </ul>
</div>