<h4>Página principal</h4>
<div>
    <h2>Bienvenido</h2>
    {{!-- <p>Listado de Servicios:</p> --}}
    <ul id="productsBox">
        {{#each products}}
            <li>Servicio: {{this.title}} </li>
            <p>Descripción: {{this.description}} </p>
            <p>Código: {{this.code}} </p>
            <p>Precio: {{this.price}} </p>
            <p>Stock: {{this.stock}} </p>
            <p>Categoría: {{this.category}} </p>
            <p>URL de Imágen: {{this.thumbnail}} </p>
            <p>Id: {{this.id}} </p>
            <hr />
        {{/each}}
    </ul>
</div>
