<h2>Página de productos</h2>

<p>Bienvenido {{email}}</p>
<br/>
{{#if totalDocs}}
    <div>
        Listado de productos:
        <ul>
        {{#each payload}}
            <li>{{this.title}} - Precio: {{this.price}}</li>
            <button onclick="addToCart(`{{this._id}}`)">Agregar al carrito</button>
            <hr>
        {{/each}}
        </ul>
    </div>
   
    <div>
        {{#if hasPrevPage}}
            <a href={{prevLink}}>Anterior</a>
        {{/if}}

        {{page}}

        {{#if hasNextPage}}
            <a href={{nextLink}}>Siguiente</a>
        {{/if}}
    </div>
{{else}}
    <p>No hay productos</p>
{{/if}}

<br></br>

<div>
    <a href="/api/sessions/logout">Cerrar Sesión</a>
    </div>   

<script src="js/products.js"></script>